@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1880px;
  margin: 0 auto;
  width: 100%;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
body {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}
